@import "tailwindcss";

@theme {
  --color-surface-0: ;
  --color-surface-1: ;
  --color-surface-2: ;

  --color-normal: ;
  --color-muted: ;
}

@layer base {
  :root {
    --color-surface-0: #fcfcfc;
    --color-surface-1: #f4f4f4;
    --color-surface-2: #e5e5e5;

    --color-normal: #111111;
    --color-muted: #575757;

    --font-sans: var(--font-lato), sans-serif;
    --font-serif: var(--font-source-serif-pro), serif;
    --font-mono: var(--font-source-code-pro), monospace;
  }

  .dark {
    --color-surface-0: #1a1a1a;
    --color-surface-1: #2a2a2a;
    --color-surface-2: #3a3a3a;

    --color-normal: #e0e0e0;
    --color-muted: #a6a6a6;
  }
}
