@import "tailwindcss";

@import "@fontsource/lato";
@import "@fontsource/source-serif-pro";

@theme {
  --color-surface-0: ;
  --color-surface-1: ;
  --color-surface-2: ;

  --color-normal: ;
  --color-muted: ;
}

@layer base {
  :root {
    --color-surface-0: #fcfcfc;
    --color-surface-1: #f4f4f4;
    --color-surface-2: #e5e5e5;

    --color-normal: #111111;
    --color-muted: #575757;
    --color-link-normal: #1f4475;

    --font-sans: "Lato", sans-serif;
    --font-serif: "Source Serif Pro", serif;
  }

  .dark {
    --color-surface-0: #1a1a1a;
    --color-surface-1: #2a2a2a;
    --color-surface-2: #3a3a3a;

    --color-normal: #e0e0e0;
    --color-muted: #a6a6a6;
    --color-link-normal: #cdd5ff;
  }
}

p > a {
  color: var(--color-link-normal);
}
