---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
---

<BaseLayout title={"Blog - Jacques Lucke"}>
  <ul>
    {
      allPosts.map((post: any) => (
        <li>
          <a href={`/posts/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
