---
import BaseLayout from "../layouts/BaseLayout.astro";
import RecentPostCard from "../components/RecentPostCard.astro";
import {
  getPublicBlogPosts,
  sortPostsMostRecentFirst,
} from "../scripts/blog_posts";
import { supportedTags } from "../content.config";

let posts = await getPublicBlogPosts();
sortPostsMostRecentFirst(posts);
---

<BaseLayout title="Blog by Jacques" description="Overview over the blog posts">
  <h1 class="mt-4 mb-1 text-2xl font-bold">Blog Posts</h1>
  <div class="text-muted mb-4">
    {
      supportedTags.map((tag) => (
        <a href={`/tags/${tag}`} class="mr-2 inline-block underline">
          {tag}
        </a>
      ))
    }
  </div>
  {
    posts.map((post) => (
      <RecentPostCard frontmatter={post.data} url={`/blog/${post.id}`} />
    ))
  }
</BaseLayout>
