---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Jacques Lucke">
  <div class="m-3 flex items-center">
    <div class="bg-surface-1 rounded-full w-36 h-36"></div>
    <div class="pl-4 text-lg">
      Hi, I'm Jacques Lucke. I do projects for fun and public benefit.
    </div>
  </div>
</BaseLayout>
