---
import { getCollection } from "astro:content";
import MainHorizontalLine from "../components/MainHorizontalLine.astro";
import MainTopicCard from "../components/MainTopicCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import RecentPostCard from "../components/RecentPostCard.astro";

const allPosts = await getCollection("blog");
allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
const recentPosts = allPosts.slice(0, 3);
---

<BaseLayout title="Jacques Lucke">
  <div class="m-3 flex items-center">
    <div class="bg-surface-1 aspect-square h-30 w-30 rounded-full"></div>
    <div class="pl-4 text-lg">
      Hi, I'm Jacques Lucke. I do projects for fun or public benefit.
    </div>
  </div>
  <MainHorizontalLine />
  <div
    class="grid w-full grid-cols-1 gap-2 p-2 sm:grid-cols-2 lg:grid-cols-4 lg:p-0"
  >
    <MainTopicCard title="Development" url="/about/" />
    <MainTopicCard title="Teaching" url="/about/" />
    <MainTopicCard title="Photography" url="/about/" />
    <MainTopicCard title="Other" url="/about/" />
  </div>
  <MainHorizontalLine />
  <div>
    {
      recentPosts.map((post) => (
        <RecentPostCard frontmatter={post.data} url={`/posts/${post.id}`} />
      ))
    }
  </div>
  <a href="/blog/">
    <div class="flex justify-center">
      <div class="w-fit rounded p-2 py-2 hover:rounded-xl">See All</div>
    </div>
  </a>
</BaseLayout>
