---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Legal Notice" description="Legal notice of Jacques Lucke">
  <div class="px-2 lg:px-0">
    <h2 class="my-2 text-xl font-bold">Legal Notice</h2>
    <ul>
      <li>Jacques Lucke</li>
      <li>Bötzowstr. 19</li>
      <li>16761 Hennigsdorf, Germany</li>
      <li>mail@jlucke.com</li>
    </ul>
  </div>
</BaseLayout>
