---
interface Props {
  name: string;
  id: string;
  defaultValue: number;
}

const { name, id, defaultValue } = Astro.props;
---

<div>
  {name}
  <input
    type="number"
    id={id}
    value={defaultValue}
    class="persist-value text-right"
  />
</div>

<script>
  import "../../scripts/persistent_inputs";
</script>
