---
import DownloadButton from "./DownloadButton.astro";

interface Props {
  label: string;
  previewID: string;
  downloadButtonID: string;
}

const { label, previewID, downloadButtonID } = Astro.props;
---

<div>
  <div
    id={previewID}
    class="my-3 max-h-30 w-full bg-contain bg-center bg-no-repeat px-6"
  >
  </div>
  <div class="flex justify-center">
    <DownloadButton label={`Download ${label}`} id={downloadButtonID} />
  </div>
</div>
