---
import { getImage } from "astro:assets";
import { loadImage, loadVideo } from "../scripts/asset_load";

interface Props {
  src: string;
  alt: string;
}

const { src, alt } = Astro.props;

const thumbnailImage = await getImage({
  src: await loadImage(src + ".thumbnail.jpg"),
  format: "webp",
  width: 300,
  quality: 50,
});
---

<div class="flex justify-center">
  <video
    controls
    width={300}
    class="my-2 rounded"
    preload="none"
    poster={thumbnailImage.src}
    area-label={alt}
  >
    <source src={await loadVideo(src)} />
  </video>
</div>
