---
import BlueskyLogo from "./logos/BlueskyLogo.astro";
import GithubLogo from "./logos/GithubLogo.astro";
import MastodonLogo from "./logos/MastodonLogo.astro";
import YouTubeLogo from "./logos/YouTubeLogo.astro";
---

<footer>
  <div class="text-muted flex justify-between">
    <div class="ml-2 lg:ml-0">
      <a href="/legal_notice">
        <div>© 2025 Jacques Lucke</div>
        <div>Legal Notice</div>
      </a>
    </div>
    <div class="fill-muted mr-2 flex gap-2 lg:mr-0">
      <a
        href="https://youtube.com/JacquesLucke"
        class="hover:fill-normal transition"
      >
        <YouTubeLogo />
      </a>
      <a
        href="https://github.com/JacquesLucke"
        class="hover:fill-normal transition"
      >
        <GithubLogo />
      </a>
      <a
        href="https://bsky.app/profile/jacqueslucke.bsky.social"
        class="hover:fill-normal transition"
      >
        <BlueskyLogo />
      </a>
      <a
        href="https://mstdn.social/@JacquesLucke"
        class="hover:fill-normal transition"
      >
        <MastodonLogo />
      </a>
    </div>
  </div>
</footer>
