---
import BlueskyLogo from "./logos/BlueskyLogo.astro";
import GithubLogo from "./logos/GithubLogo.astro";
import MastodonLogo from "./logos/MastodonLogo.astro";
import YouTubeLogo from "./logos/YouTubeLogo.astro";
---

<footer>
  <div class="flex text-muted justify-between">
    <div class="">© 2025 Jacques Lucke</div>
    <div class="flex gap-2">
      <a
        href="https://youtube.com/JacquesLucke"
        class="hover:invert transition"
      >
        <YouTubeLogo />
      </a>
      <a href="https://github.com/JacquesLucke" class="hover:invert transition">
        <GithubLogo />
      </a>
      <a
        href="https://bsky.app/profile/jacqueslucke.bsky.social"
        class="hover:invert transition"
      >
        <BlueskyLogo />
      </a>
      <a
        href="https://mstdn.social/@JacquesLucke"
        class="hover:invert transition"
      >
        <MastodonLogo />
      </a>
    </div>
  </div>
</footer>
