---
import NavigationItem from "./NavigationItem.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="bg-surface-1 w-full drop-shadow-xs">
  <nav>
    <div class="mx-auto flex max-w-[300px] justify-between p-1">
      <NavigationItem href="/" text="Home" />
      <NavigationItem href="/blog/" text="Blog" />
      <NavigationItem href="/about/" text="About" />
      <ThemeToggle />
    </div>
  </nav>
</header>
