---
import { Picture } from "astro:assets";

const { title, url, image, imageAlt } = Astro.props;
---

<a href={url}>
  <div
    class="bg-surface-1 w-full overflow-clip rounded-md duration-200 ease-in-out hover:rounded-xl"
  >
    <div class="bg-surface-2 h-36 w-full">
      {
        image && (
          <Picture
            src={image}
            alt={imageAlt}
            width={500}
            quality={50}
            class="h-full w-full object-cover"
          />
        )
      }
    </div>
    <div class="p-2 text-center text-lg">
      {title}
    </div>
  </div>
</a>
