---
const { title, url } = Astro.props;
---

<a href={url}>
  <div
    class="bg-surface-1 w-full overflow-clip rounded-md duration-200 ease-in-out hover:rounded-xl"
  >
    <div class="bg-surface-2 h-36 w-full"></div>
    <div class="p-2 text-center text-lg">
      {title}
    </div>
  </div>
</a>
