---
import type { CollectionEntry } from "astro:content";
import { any } from "astro:schema";

const { url, frontmatter } = Astro.props;
---

<a href={url}>
  <div
    class="w-full my-2 border-l-1 border-surface-3 p-2 rounded-md hover:rounded-xl duration-200 ease-in-out"
  >
    <div class="text-xl py-1">
      {frontmatter.title}
    </div>
    <div class="text-muted">
      Posted on {
        frontmatter.pubDate.toLocaleDateString("en-US", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </div>
    <div class="py-1">
      {frontmatter.description}
    </div>
  </div>
</a>
