---
import type { CollectionEntry } from "astro:content";
import { any } from "astro:schema";

const { url, frontmatter } = Astro.props;
---

<a href={url}>
  <div
    class="border-surface-3 my-2 w-full rounded-md p-2 duration-200 ease-in-out hover:rounded-xl lg:border-l-1"
  >
    <div class="py-1 text-xl">
      {frontmatter.title}
    </div>
    <div class="text-muted">
      Posted on {
        frontmatter.pubDate.toLocaleDateString("en-US", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </div>
    <div class="py-1">
      {frontmatter.description}
    </div>
  </div>
</a>
