---
import TimelineEntry from "./TimelineEntry.astro";
---

<div class="flex">
  <div class="bg-normal ml-4 w-1 rounded-full"></div>
  <div>
    <TimelineEntry year="2023">
      Started working in the KreativWerk.
    </TimelineEntry>
    <TimelineEntry year="2019">Finished studying at TU Berlin.</TimelineEntry>
    <TimelineEntry year="2018">Started working at Blender.</TimelineEntry>
    <TimelineEntry year="2014">
      Started Blender add-on development.
    </TimelineEntry>
    <TimelineEntry year="2011">
      Started learning Blender and other DCC software.
    </TimelineEntry>
    <TimelineEntry year="2008">Started learning programming.</TimelineEntry>
    <TimelineEntry year="1997">Year of birth.</TimelineEntry>
  </div>
</div>
