---
const { year } = Astro.props;
---

<div class="flex items-center">
  <div class="bg-normal absolute aspect-square w-3 -translate-x-2 rounded-full">
  </div>
  <div class="ml-4 rounded-2xl p-4">
    <h2 class="mb-1 text-xl">{year}</h2>
    <slot />
  </div>
</div>
