---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MainHorizontalLine from "../components/MainHorizontalLine.astro";
import profilePicture from "../assets/profile_picture.jpg";
import { getImage } from "astro:assets";
import ImagePopup from "../components/ImagePopup.astro";

const { title, description } = Astro.props;

const favicon = await getImage({
  src: profilePicture,
  format: "webp",
  width: 32,
  quality: 80,
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/webp" href={favicon.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>

    <script is:inline>
      (function () {
        const theme = localStorage.getItem("theme");
        if (theme === "dark") {
          document.documentElement.classList.add("dark");
        }
      })();
    </script>
    <script
      defer
      data-domain="jlucke.com"
      src="https://plausible.jlucke.com/js/script.file-downloads.outbound-links.js"
    ></script>
  </head>
  <body class="bg-surface-0 text-normal font-sans font-thin">
    <Header />
    <div class="mx-auto max-w-[1000px]">
      <main>
        <slot />
      </main>
      <MainHorizontalLine />
      <Footer />
    </div>
    <ImagePopup />
    <script src="/src/scripts/popup_images.ts"></script>
  </body>
</html>
